
.DS_Store
WordExtracter/.DS_Store
WordExtracter/.idea/inspectionProfiles/Project_Default.xml
WordExtracter/.idea/misc.xml
WordExtracter/.idea/modules.xml
WordExtracter/.idea/WordExtracter.iml
WordExtracter/.idea/workspace.xml
